body{
    background-color: lightgray;
}
.nav{
    letter-spacing: 5px;
    font-weight: bold;
    text-transform: uppercase;
    color: darkgreen;
    display: block;
    justify-content: center;
    text-align: center;
}
.tel::before{
    content: "tel. ";
}
.tel{
    margin-left:10px;
}

.email{
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    color: darkgreen;
    margin-left:10px;
}
.ul::before{
    content: "ul. ";
}
.ul{
    color: darkgreen;
    margin-right: 10px;
    text-align: right;
}
.miasto{
    margin-right: 10px;
    text-align: right;
}
 .nazw{
    color: white;
    font-weight: bold;
}

.imie{
    background-color: darkgreen;
    padding: 1px 20px;
    letter-spacing: 3px;
    font-size: 30px;
}
.wizytowka{
    background-color: white;
    box-shadow: 10px 5px 10px grey;
    height: 250px;
    width: 400px;
    margin: 20px auto 20px auto;


}
.contener{
    margin: auto;
    width: 60%;
    padding: 10px;
}